<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<meta charset="utf8">
	<body>
		<footer th:fragment="footer">
				<div class=" row row-cols-1 row-cols-sm-2 row-cols-md-5 p-5 mt-5 border-top"
				style="background-color: rgb(100, 100, 100); color: #eee;">
				<div class="col mb-3">
					<a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
						<svg class="bi me-2" width="40" height="32">
							<use xlink:href="#bootstrap"></use>
						</svg>
					</a>
					<p class="fs-3 text-uppercase">Contacto</p>
				</div>
		
				<div class="col mb-3">
		
				</div>
		
				<div class="col mb-3">
					<h5>Secretaría Académica</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Contacto:
								academica@fca.unju.edu.ar</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Teléfono: (0388) 4221544</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">biblioteca@fca.unju.edu.ar</a>
						</li>
						<li class="nav-item mb-2"><a href="#"
								class="nav-link p-0 text-light">coordinaciontutorias@fca.unju.edu.ar </a></li>
					</ul>
				</div>
		
				<div class="col mb-3">
					<h5>Departamento Alumnos</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="#"
								class="nav-link p-0 text-light">direccionalumnos@fca.unju.edu.ar</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">(0388) 4244102</a></li>
					</ul>
				</div>
		
				<div class="col mb-3">
					<h5>Redes Sociales</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="https://www.facebook.com/FCAUNJu.Arg"
								class="nav-link p-0 text-light">Facebook</a></li>
						<li class="nav-item mb-2"><a href="https://x.com/fca_unju/" class="nav-link p-0 text-light">X</a></li>
						<li class="nav-item mb-2"><a href="https://www.youtube.com/c/FacultaddeCienciasAgrariasUNJujuy"
								class="nav-link p-0 text-light">Youtube</a></li>
						<li class="nav-item mb-2"><a href="https://www.instagram.com/fca_unju/"
								class="nav-link p-0 text-light">Instagram</a></li>
					</ul>
				</div>
				</div>
				<div  class="d-flex justify-content-center py-3 bg-dark text-white">
					&copy; Alvaro Maximiliano Ramos 2024 - Programación Visual
				</div>
			</footer>
	</body>
</html>