<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<div class="d-flex justify-content-around my-5">
			<a class="btn btn-success" data-th-href="@{/alumnos/create}" role="button">Nuevo Alumno</a>
			<a class="btn btn-primary" data-th-href="@{/alumnos/inscribir}" role="button">Inscribir a materia</a>
			<a class="btn btn-secondary" data-th-href="@{/alumnos/consultar-por-materia}" role="button">Ver alumnos de una materia</a>
			<a class="btn btn-light" data-th-href="@{/alumnos/consultar-por-carrera}" role="button">Ver alumnos de una carrera</a>

		</div>
		<div class="container-sm py-5 border my-3">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">DNI</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apellido</th>
				  <th scope="col">Email</th>
				  <th scope="col">Teléfono</th>
				  <th scope="col">Fecha de Nacimiento</th>
				  <th scope="col">Domicilio</th>
				  <th scope="col">LU</th>
			    </tr>
			  </thead>
			  <tbody >
			    <tr data-th-each="alumno : ${alumnos}">
			      <th scope="row" data-th-text="${alumno.dni}"></th>
			      <td data-th-text="${alumno.nombre}"></td>
			      <td data-th-text="${alumno.apellido}"></td>
			      <td data-th-text="${alumno.email}"></td>
			      <td data-th-text="${alumno.telefono}"></td>
			      <td data-th-text="${alumno.fechaNacimiento}"></td>
			      <td data-th-text="${alumno.domicilio}"></td>
			      <td data-th-text="${alumno.lu}"></td>
				  <td><button th:data-codAlumno="${alumno.id}" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</button></td>
				  <td><a data-th-href="@{/alumnos/edit/}+${alumno.id}" role="button" class="btn btn-warning">Editar</a></td>

			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="modal" id="deleteModal" tabindex="-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">¿Esta seguro de que quiere eliminar esta carrera?</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <p>Si desea cancelar la operacion aprete el boton Cancelar</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				  <form th:action="@{/alumnos/delete/{codAlumno}(codAlumno=${selectedCodAlumno})}" method="get">
					  <button type="submit" class="btn btn-danger">Eliminar</button>
				  </form>				
				</div>
			  </div>
			</div>
		<script>
		    document.addEventListener('DOMContentLoaded', function() {
		        var deleteModal = document.getElementById('deleteModal');
		        deleteModal.addEventListener('show.bs.modal', function(e) {
		            var button = e.relatedTarget;
		            var codAlumno = button.getAttribute('data-codalumno');
		            var form = deleteModal.querySelector('form');
		            form.setAttribute('action', '/alumnos/delete/' + codAlumno);
		        });
		    });
		</script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	</body>
</html>