<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<h2 class="text-center my-4" data-th-text="${titleForm}"></h2>
		<div class="container-sm">
			<form data-th-action="${action == 'create'}? @{/carreras/create} : @{/carreras/edit}" th:object="${carrera}" class="w-50 m-auto my-5 p-3 border border-dark" method="post">
				<div class="mb-3">
				  <label for="codigo" class="form-label">Código</label>
				  <input type="number" th:class="'form-control ' + ${action == 'edit' ? 'opacity-75' : ''}"
				   id="codigo"
				   name="codigo"
				   th:field="*{codigo}"
				   th:readonly="${action == 'edit'}">
				</div>
				<div class="mb-3">
				  <label for="nombre" class="form-label">Nombre</label>
				  <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
				</div>
				<div class="mb-3">
				  <label for="cantidadDeAnios" class="form-label">Cantidad de Años</label>
				  <input type="number" class="form-control" id="cantidadDeAnios" th:field="*{cantidadDeAnios}">
				</div>
				<div th:if="${titleForm == 'Editar Carrera'}" class="mb-3">
				  <label for="estado" class="form-label">Estado</label>
				  <input type="text" class="form-control" id="estado" th:field="*{estado}">
								</div>
				<div class="d-flex justify-content-center py-3 my-2">
					<input type="submit" th:value="Hacer" class="btn btn-primary">
				</div>
			</form>			
		</div>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	</body>
</html>