<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	   <header data-th-replace="~{/layouts/header :: header}"></header>

    <div class="container">
        <h1 class="text-center my-4">Consultar Alumnos por Materia</h1>
        		<form th:action="@{/alumnos/consultar-por-materia}" method="post" class="my-3">
		            <div class="form-group">
		                <label for="materia">Seleccione una materia:</label>
		                <select id="materia" name="materiaId" class="form-control" required>
		                    <option value="" selected>Seleccione una materia</option>
		                    <option th:each="materia : ${materias}" th:value="${materia.codigo}" th:text="${materia.nombre}"></option>
		                </select>
		            </div>
		            <button type="submit" class="btn btn-primary mt-3">Consultar</button>
		        </form>
		
		        <div th:if="${alumnos != null}">
		            <h2>Alumnos en la materia: <span th:text="${materia.nombre}">Materia</span></h2>
		            <table class="table">
		                <thead>
		                    <tr>
		                        <th>ID</th>
		                        <th>DNI</th>
		                        <th>Nombre</th>
		                        <th>Apellido</th>
		                        <th>Email</th>
		                        <th>Teléfono</th>
		                        <th>Fecha de Nacimiento</th>
		                        <th>Domicilio</th>
		                        <th>LU</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="alumno : ${alumnos}">
		                        <td th:text="${alumno.id}"></td>
		                        <td th:text="${alumno.dni}"></td>
		                        <td th:text="${alumno.nombre}"></td>
		                        <td th:text="${alumno.apellido}"></td>
		                        <td th:text="${alumno.email}"></td>
		                        <td th:text="${alumno.telefono}"></td>
		                        <td th:text="${alumno.fechaNacimiento}"></td>
		                        <td th:text="${alumno.domicilio}"></td>
		                        <td th:text="${alumno.lu}"></td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
    </div>
</body>
</html>
