<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<div class="d-flex justify-content-center my-5"><a data-th-href="@{/docentes/create}" class="btn btn-success" role="button">Nuevo Docente</a></div>
		<div class="container-sm py-5 border my-3">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Legajo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apellido</th>
			      <th scope="col">Email</th>
				  <th scope="col">Teléfono</th>
			    </tr>
			  </thead>
			  <tbody >
			    <tr data-th-each="docente: ${docentes}">
			      <th scope="row" data-th-text="${docente.legajo}"></th>
			      <td data-th-text="${docente.nombre}"></td>
			      <td data-th-text="${docente.apellido}"></td>
			      <td data-th-text="${docente.email}"></td>
	  		      <td data-th-text="${docente.telefono}"></td>

				  <td><a  role="button" class="btn btn-danger"  data-th-href="@{/docentes/delete/}+${docente.legajo}">Eliminar</a></td>
				  <td><a  role="button" class="btn btn-warning" data-th-href="@{/docentes/edit/}+${docente.legajo}">Editar</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>