<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<div class="d-flex justify-content-center my-5"><a data-th-href="@{/docentes/create}" class="btn btn-success" role="button">Nuevo Docente</a></div>
		<div class="container-sm py-5 border my-3">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Legajo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apellido</th>
			      <th scope="col">Email</th>
				  <th scope="col">Teléfono</th>
			    </tr>
			  </thead>
			  <tbody >
			    <tr data-th-each="docente: ${docentes}">
			      <th scope="row" data-th-text="${docente.legajo}"></th>
			      <td data-th-text="${docente.nombre}"></td>
			      <td data-th-text="${docente.apellido}"></td>
			      <td data-th-text="${docente.email}"></td>
	  		      <td data-th-text="${docente.telefono}"></td>

				  <td><button th:data-codDocente="${docente.id}" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</button></td>
				  <td><a  role="button" class="btn btn-warning" data-th-href="@{/docentes/edit/}+${docente.id}">Editar</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<div class="modal" id="deleteModal" tabindex="-1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">¿Esta seguro de que quiere eliminar este docente?</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        <p>Si desea cancelar la operacion aprete el boton Cancelar</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<form th:action="@{/docentes/delete/{codDocente}(codDocente=${selectedCodDocente})}" method="get">
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>				
				      </div>
				    </div>
				  </div>
				</div>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script>
				    document.addEventListener('DOMContentLoaded', function() {
				        var deleteModal = document.getElementById('deleteModal');
				        deleteModal.addEventListener('show.bs.modal', function(e) {
				            var button = e.relatedTarget;
				            var codDocente = button.getAttribute('data-coddocente');
				            var form = deleteModal.querySelector('form');
				            form.setAttribute('action', '/docentes/delete/' + codDocente);
				        });
				    });
				</script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>